@import url('../vendor/normalize.css');

@import url('../page/page.css');

@import url('../blocks/content/content.css');

@import url('../blocks/techniques/techniques.css');

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 920px;
  margin: 0px auto;
  padding: 0px 0px 100px 0px;
}
