.feynman__title {
  width: 648px;
  padding: 100px 0px 70px 0px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 0px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: 0;
}
