@import url('../blocks/vendor/normalize.css');
@import url('../blocks/root/root.css');

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
}
