@import url('/blocks/techniques/techniques.css');
@import url('/blocks/video/video.css');
@import url('/blocks/digits/digits.css');
@import url('/blocks/khan/__title/__title.css');
@import url('/blocks/resources/resources.css');
@import url('/blocks/kaufman/kaufman.css');

.section-subtitle {
  padding: 20px 0px 0px 0px;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
