@import url('../vendor/normalize.css');

@import url('../blocks/digits/digits.css');
@import url('../blocks/wrapper/_for_triangle.css');
@import url('../blocks/kaufman/kaufman.css');
@import url('../blocks/kaufman/__triangle/__triangle.css');

.table__text_theme_dark {
  color: #fff;
  margin: 0;
  padding: 20px 0px 0px 0px;
}
