@import url('../blocks/vendor/normalize.css');
@import url('../blocks/root/root.css');

.video__iframe {
  padding: 50px 0px 0px 0px;
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video__iframe:not(:last-child){
  margin: 0px 20px 0px 0px;
}
