@import url('../vendor/normalize.css');
@import url('../modifier/section-title/section-title.css');
@import url('../modifier/section-subtitle/section-subtitle.css');

@import url('../page/page.css');

@import url('../blocks/content/content.css');

@import url('../blocks/video/video.css');
@import url('../blocks/video/__iframe/__iframe.css');
@import url('../blocks/video/__iframe/_name/_kaufman.css');
@import url('../blocks/video/__iframe/_name/_urban.css');

.video__iframe {
  padding: 50px 0px 0px 0px;
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video__iframe:not(:last-child) {
  padding-right: 20px;
}
