@import url('../vendor/normalize.css');

@import url('../blocks/content/content.css');

@import url('../blocks/description/description.css');
@import url('../blocks/oakley/oakley.css');

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
