@import url('../vendor/normalize.css');

@import url('../modifier/link-hover/link-hover.css');
@import url('../modifier/link-style/link-style.css');

@import url('../page/page.css');

@import url('../blocks/content/content.css');

@import url('../blocks/khan/khan.css');
@import url('../blocks/khan/__container/__container.css');
@import url('../blocks/khan/__author/__author.css');
@import url('../blocks/khan/__title/__title.css');
@import url('../blocks/khan/__quote/__quote.css');
@import url('../blocks/khan/__quote-author/__quote-author.css');
@import url('../blocks/khan/__quote-author-subline/__quote-author-subline.css');
@import url('../blocks/khan/__book-container/__book-container.css');
@import url('../blocks/khan/__book-pic/__book-pic.css');
@import url('../blocks/khan/__buy-link/__buy-link.css');

.khan__quote-author {
  padding: 36px 0px 0px 0px;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
