@import url('../blocks/header/__square-pic.css');
@import url('../blocks/kaufman/kaufman.css');
@import url('../blocks/kaufman/__triangle/__triangle.css');

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.pic-rotation {
  -webkit-animation: rotation 20s linear infinite;
          animation: rotation 20s linear infinite;
}
