@import url('../vendor/normalize.css');

@import url('../page/page.css');

@import url('../blocks/content/content.css');

@import url('../blocks/techniques/techniques.css');

.cards__image {
  border-radius: 50%;
  padding: 60px 40px 43px 40px;
  width: 160px;
  height: 160px;
}

