@import url('../vendor/normalize.css');

@import url('../modifier/pic-rotation/pic-rotation.css');
@import url('../modifier/link-hover/link-hover.css');
@import url('../modifier/logo/logo.css');
@import url('../modifier/logo/_place/_header.css');

@import url('../page/page.css');

@import url('../blocks/header/header.css');
@import url('../blocks/header/__subtitle/__subtitle.css');
@import url('../blocks/header/__link/__link.css');
@import url('../blocks/header/__main-illustration/__main-illustration.css');
@import url('../blocks/header/__square-pic/__square-pic.css');

.header__title {
  max-width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  padding: 0px 0px 0px 64px;
  margin: 0;
  position: relative;
  z-index: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
