@import url('../vendor/normalize.css');

@import url('../modifier/pic-rotation/pic-rotation.css');
@import url('../modifier/link-hover/link-hover.css');
@import url('../modifier/logo/logo.css');
@import url('../modifier/logo/_place/_header.css');

@import url('../page/page.css');

@import url('../blocks/header/header.css');
@import url('../blocks/header/__title/__title.css');
@import url('../blocks/header/__subtitle/__subtitle.css');
@import url('../blocks/header/__link/__link.css');
@import url('../blocks/header/__square-pic/__square-pic.css');



.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
