@import url('../vendor/normalize.css');

@import url('../blocks/digits/digits.css');
@import url('../blocks/wrapper/_for_triangle.css');
@import url('../blocks/kaufman/kaufman.css');
@import url('../blocks/kaufman/__triangle/__triangle.css');

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
