@import url('../blocks/vendor/normalize.css');
@import url('../blocks/root/root.css');

.khan__book-container {
  padding: 68px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
