@import url('../vendor/normalize.css');

@import url('../blocks/digits/digits.css');
@import url('../blocks/wrapper/_for_triangle.css');
@import url('../blocks/kaufman/kaufman.css');
@import url('../blocks/kaufman/__triangle/__triangle.css');

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0px 0px 0px;
}
