@import url('../vendor/normalize.css');

@import url('../modifier/link-hover/link-hover.css');
@import url('../modifier/link-style/link-style.css');

@import url('../page/page.css');

@import url('../blocks/content/content.css');

@import url('../blocks/khan/khan.css');
@import url('../blocks/khan/__container/__container.css');
@import url('../blocks/khan/__author/__author.css');
@import url('../blocks/khan/__title/__title.css');
@import url('../blocks/khan/__quote/__quote.css');
@import url('../blocks/khan/__quote-author/__quote-author.css');
@import url('../blocks/khan/__quote-author-subline/__quote-author-subline.css');
@import url('../blocks/khan/__book-container/__book-container.css');
@import url('../blocks/khan/__book-pic/__book-pic.css');
@import url('../blocks/khan/__buy-link/__buy-link.css');

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  height: 42px;
}
