@import url('../blocks/vendor/normalize.css');
@import url('../blocks/root/root.css');

.khan__book-pic {
  width: 620px;
  max-height: 608px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0px 48px 0px 0px;
}
